<div class="welcome-msg">
    <p>Discover the art of culinary storytelling! Explore our collection of thoughtfully curated recipes, each with its own unique story.</p>
    <button id="browse-btn" routerLink="/dishes">Browse Recipes</button>
    <p>Become a cherished member of our community—share your culinary creations, exchange experiences, and inspire others with your passion for food.</p>
    <div class="auth-buttons">
        <button routerLink="/login">Log In</button>
        <button routerLink="/register">Register</button>
    </div>
</div>
