.list-container {
    width: 85%;
    max-height: 600px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: calc(50% + 51px - 20px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.prompt-msg {
    font-family: "Dancing Script", cursive;
    color: #F7E4C4;
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.8);
    margin-bottom: 10px;
}

.dishes-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: auto;
    height: 600px; 
    justify-content: space-around;
}

.dishes-container::-webkit-scrollbar {
    width: 7px;
}

.dishes-container::-webkit-scrollbar-thumb {
    background-color: #FFD400;
    border-radius: 5px;
}

.dishes-container::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}