<div class="register-container">
    <p class="prompt-msg register">Let's Turn Up the Heat!<br>Step into our kitchen and stir up some amazing flavors with us!</p>
    <form #form="ngForm" (ngSubmit)="register(form)">
        <div class="row-wrapper">
            <div class="input-wrapper">
                <label for="chefName">Chef Name</label>
                <input type="text" id="chefName" name="chefName" required ngModel #inputChefName="ngModel">
            </div>
            <div class="input-wrapper">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required ngModel #inputEmail="ngModel">
            </div>
        </div>
        <div class="row-wrapper">
            <div class="input-wrapper">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required ngModel #inputPassword="ngModel">
            </div>
            <div class="input-wrapper">
                <label for="rePassword">Repeat Password</label>
                <input type="password" id="rePassword" name="rePassword" required ngModel #inputRePassword="ngModel">
            </div>
        </div>
        <div class="row-wrapper">
            <div class="input-wrapper">
                <label for="favCuisine">Favorite Cuisine</label>
                <input type="text" id="favCuisine" name="favCuisine" placeholder="e.g., Italian, Mexican" required ngModel #inputFavCuisine="ngModel">
            </div>
            <div class="input-wrapper">
                <label for="cookingSkillLevel">Cooking Skill Level</label>
                <select id="cookingSkillLevel" name="cookingSkillLevel" required ngModel #inputCookingSkillLevel="ngModel">
                    <option value="newbie">Newbie</option>
                    <option value="rising-star">Rising Star</option>
                    <option value="proficient">Proficient</option>
                    <option value="culinary-wizard">Culinary Wizard</option>
                </select>
            </div>
        </div>
        <input type="submit" value="Register">
    </form>
    <p class="prompt-msg">Been Cooking with Us Already?</p>
    <div class="login-msg">
        <a routerLink="/login" class="golden">Log in</a><p class="prompt-msg">and Keep the Recipes Rolling!</p> 
    </div>
</div>